* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Display", sans-serif;
  box-sizing: border-box;
}

*::after {
  margin: 0;
  padding: 0;
}

*::before {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1145px;
  padding: 0 15px;
  margin: 0 auto;
}

.hide {
  color: white;
  margin-left: 20px;
  display: none;
  visibility: visible;
}
.hide .container {
  display: inline-block;
  cursor: pointer;
}
.hide .bar1,
.hide .bar2,
.hide .bar3 {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.hide .change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hide .change .bar2 {
  opacity: 0;
}
.hide .change .bar3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

.hide_forms {
  position: fixed;
  z-index: 100;
  top: 0;
  display: none;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.hide_forms input[type=text],
.hide_forms input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.hide_forms input[type=text]:focus,
.hide_forms input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.hide_forms button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.hide_forms button:hover {
  opacity: 1;
}
.hide_forms .bnt-sign {
  margin-left: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 14px;
  background-color: #29aae3;
  cursor: pointer;
  color: white;
}
.hide_forms .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.hide_forms .cancelbtn,
.hide_forms .signupbtn {
  float: left;
  width: 50%;
}
.hide_forms .container {
  padding: 16px;
}
.hide_forms .modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888;
  width: 50%;
}
.hide_forms hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.hide_forms .close {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #f1f1f1;
}
.hide_forms .close:hover,
.hide_forms .close:focus {
  color: #f44336;
  cursor: pointer;
}
.hide_forms .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .hide_forms .cancelbtn,
.hide_forms .signupbtn {
    width: 100%;
  }
}

.hidden_menu {
  position: fixed;
  z-index: 100;
  height: 0%;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  display: block;
  transition: 0.5s;
  background-color: black;
}
.hidden_menu.active {
  top: 58px;
  height: 100vh;
  visibility: visible;
}
.hidden_menu .menu_registration {
  display: block;
  cursor: pointer;
  width: 120px;
  padding: 10px 0;
  color: white;
  text-align: center;
  margin: 20px auto;
  border-radius: 30px;
  background-color: #29aae3;
  text-decoration: none;
}
.hidden_menu ul {
  text-align: center;
}
.hidden_menu ul li {
  width: 100%;
}
.hidden_menu ul li a {
  height: 100%;
  display: block;
  padding: 20px 0;
  width: 100%;
}
.hidden_menu ul li:hover {
  background-color: red;
  cursor: pointer;
}
.hidden_menu ul li a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 80%;
}

.header {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: black;
}
.header .header_blocks {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header_blocks .header_menu {
  display: flex;
  align-items: center;
}
.header .header_blocks .header_menu .menu {
  list-style: none;
  display: flex;
}
.header .header_blocks .header_menu .menu li {
  margin-right: 20px;
}
.header .header_blocks .header_menu .menu li .active_menu_main {
  color: white;
  font-weight: bold;
}
.header .header_blocks .header_menu .menu li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.header .header_blocks .header_menu .menu_registration {
  padding: 10px 20px;
  color: white;
  margin: 0 10px;
  border-radius: 30px;
  background-color: #29aae3;
  text-decoration: none;
  transition: 0.6s;
}
.header .header_blocks .header_menu .menu_registration:hover {
  color: #29aae3;
  outline: 1px solid #29aae3;
  background-color: white;
}
.header .header_blocks .header_menu .choise_language {
  background: none;
  color: white;
}
.header .header_blocks .header_menu .choise_language option {
  color: black;
}

.main {
  background-image: url("../Pictures/foto.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0;
}
.main .main__osnova__info {
  max-width: 800px;
  color: white;
}
.main .main__osnova__info .info {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 32px;
}
.main .main__osnova__info p {
  margin-bottom: 16px;
  font-size: 18px;
}
.main .main__osnova__info img {
  width: 100%;
}
.main .main__osnova__info .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #54a757;
  color: white;
  transition: 0.6s;
  border-radius: 18px;
}
.main .main__osnova__info .btn:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

.section_opportunities {
  padding: 40px 0;
  transform: translateX(-100%);
}
.section_opportunities.active {
  -webkit-animation: slideInLeft 0.5s ease-in-out;
          animation: slideInLeft 0.5s ease-in-out;
  transform: translateX(0%);
}
.section_opportunities.nonActive {
  transform: translateX(0%);
}
.section_opportunities .opportunities {
  text-align: center;
  padding: 50px 0;
  font-size: 32px;
  font-weight: 500;
}
.section_opportunities .blocks_opportunities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 5px;
}
.section_opportunities .blocks_opportunities .block_opp {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.section_opportunities .blocks_opportunities .block_opp h3 {
  color: #29aae3;
  margin: 10px 0;
  font-size: 22px;
}
.section_opportunities .blocks_opportunities .block_opp .inrease {
  margin: 30px 0;
}
.section_opportunities .blocks_opportunities .block_opp .plans {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 600;
}
.section_opportunities .blocks_opportunities .block_opp .information_about_blocks {
  margin: 10px 0;
  margin-left: 18px;
  color: #29aae3;
}
.section_opportunities .blocks_opportunities .block_opp .information_about_blocks span {
  color: black;
}
.section_opportunities .blocks_opportunities .block_opp .information_about_blocks li {
  margin: 8px 0;
}
.section_opportunities .blocks_opportunities .block_opp .button_more {
  margin-top: auto;
}
.section_opportunities .blocks_opportunities .block_opp .btn_detailed {
  display: inline-block;
  cursor: pointer;
  transition: 0.6s;
  text-decoration: none;
  padding: 13px 26px;
  background: #54a757;
  color: white;
  border-radius: 30px;
  font-size: 20px;
}
.section_opportunities .blocks_opportunities .block_opp .btn_detailed:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.article_one .container {
  width: 100%;
  overflow: hidden;
  background: #f5f6f6;
}
.article_one .container h1 {
  text-align: center;
  color: #29aae3;
  padding: 60px 0;
  font-size: 30px;
}
.article_one .container .h1_animate {
  transform: translateY(-100%);
}
.article_one .container .h1_animate.active {
  transform: translateY(0%);
  -webkit-animation: animateFIRST 0.5s ease-in-out;
          animation: animateFIRST 0.5s ease-in-out;
}
.article_one .container .h1_animate.nonActive {
  transform: translateY(0%);
}
.article_one .container .create_schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.article_one .container .create_schedule .info_schedule {
  transform: translateX(-100vw);
}
.article_one .container .create_schedule .info_schedule.active {
  -webkit-animation: anmitaOne 0.5s ease-in-out;
          animation: anmitaOne 0.5s ease-in-out;
  transform: translateX(0vw);
}
.article_one .container .create_schedule .info_schedule.nonActive {
  transform: translateX(0vw) !important;
}
.article_one .container .create_schedule .photo_schedule {
  transform: translateX(100vw);
}
.article_one .container .create_schedule .photo_schedule.active {
  -webkit-animation: anmitaOne2 0.5s ease-in-out;
          animation: anmitaOne2 0.5s ease-in-out;
  transform: translateX(0vw);
}
.article_one .container .create_schedule .photo_schedule.nonActive {
  transform: translateX(0vw) !important;
}
.article_one .container .create_schedule p {
  font-size: 20px;
}
.article_one .container .create_schedule .btn_register {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  color: white;
  background: #29aae3;
  display: inline-block;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 18px;
  transition: 0.6s;
}
.article_one .container .create_schedule .btn_register:hover {
  background-color: white;
  outline: 1px solid #29aae3;
  color: #29aae3;
}

.article_two {
  padding-bottom: 40px;
}
.article_two .container {
  width: 100%;
  overflow: hidden;
}
.article_two h1 {
  text-align: center;
  color: #9033f9;
  padding: 60px 0;
  font-size: 30px;
}
.article_two .h1_animate {
  transform: translateY(-100%);
}
.article_two .h1_animate.active {
  transform: translateY(0%);
  -webkit-animation: animateFIRST 0.5s ease-in-out;
          animation: animateFIRST 0.5s ease-in-out;
}
.article_two .h1_animate.nonActive {
  transform: translateY(0vw) !important;
}
.article_two .create_schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.article_two .create_schedule .info_schedule {
  transform: translateX(100vw);
}
.article_two .create_schedule .info_schedule.active {
  -webkit-animation: anmitaOne2 0.5s ease-in-out;
          animation: anmitaOne2 0.5s ease-in-out;
  transform: translateX(0vw);
}
.article_two .create_schedule .info_schedule.nonActive {
  transform: translateX(0vw);
}
.article_two .create_schedule .photo_schedule {
  transform: translateX(-100vw);
}
.article_two .create_schedule .photo_schedule.active {
  -webkit-animation: anmitaOne 0.5s ease-in-out;
          animation: anmitaOne 0.5s ease-in-out;
  transform: translateX(0vw);
}
.article_two .create_schedule .photo_schedule.nonActive {
  transform: translateX(0vw);
}
.article_two .create_schedule p {
  margin-left: 50px;
  font-size: 20px;
}
.article_two .create_schedule .btn_register {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background: #9033f9;
  display: inline-block;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 18px;
  margin-left: 50px;
  transition: 0.6s;
}
.article_two .create_schedule .btn_register:hover {
  background-color: white;
  outline: 1px solid #9033f9;
  color: #9033f9;
}

.article_tree .container {
  width: 100%;
  overflow: hidden;
  background: #f5f6f6;
}
.article_tree .container h1 {
  text-align: center;
  color: #ff5966;
  padding: 60px 0;
  font-size: 30px;
}
.article_tree .container .h1_animate {
  transform: translateY(-100%);
}
.article_tree .container .h1_animate.active {
  transform: translateY(0%);
  -webkit-animation: animateFIRST 0.5s ease-in-out;
          animation: animateFIRST 0.5s ease-in-out;
}
.article_tree .container .h1_animate.nonActive {
  transform: translateY(0%);
}
.article_tree .container .create_schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.article_tree .container .create_schedule .photo_schedule img {
  display: inline-block;
  margin-left: 60px;
}
.article_tree .container .create_schedule .info_schedule {
  transform: translateX(-100vw);
}
.article_tree .container .create_schedule .info_schedule.active {
  -webkit-animation: anmitaOne 0.5s ease-in-out;
          animation: anmitaOne 0.5s ease-in-out;
  transform: translateX(0vw);
}
.article_tree .container .create_schedule .info_schedule.nonActive {
  transform: translateX(0vw);
}
.article_tree .container .create_schedule .photo_schedule {
  transform: translateX(100vw);
}
.article_tree .container .create_schedule .photo_schedule.active {
  -webkit-animation: anmitaOne2 0.5s ease-in-out;
          animation: anmitaOne2 0.5s ease-in-out;
  transform: translateX(0vw);
}
.article_tree .container .create_schedule .photo_schedule.nonActive {
  transform: translateX(0vw);
}
.article_tree .container .create_schedule p {
  font-size: 22px;
}
.article_tree .container .create_schedule .btn_register {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background: #ff5966;
  display: inline-block;
  margin-top: 30px;
  border-radius: 18px;
  font-size: 18px;
  transition: 0.6s;
}
.article_tree .container .create_schedule .btn_register:hover {
  background-color: white;
  outline: 1px solid #ff5966;
  color: #ff5966;
}

@-webkit-keyframes anmitaOne {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes anmitaOne {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes anmitaOne2 {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes anmitaOne2 {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes animateFIRST {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animateFIRST {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.video {
  padding: 50px 0;
}
.video .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video h2 {
  margin: 0 0 30px 0;
  text-align: center;
}
.video h3 {
  margin: 40px 0 10px 0;
}
.video p {
  margin: 10px 0;
}
.video p .suuport_addres {
  color: #29aae3;
  cursor: pointer;
  font-weight: 500;
}
.video .icons {
  display: flex;
}
.video .icons a {
  transition: 0.4s;
  display: inline-block;
}
.video .icons a:hover {
  transform: translateY(-10px);
}

footer {
  background: #53a8dd;
}
footer .nav_footer {
  padding: 40px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
footer .nav_footer li {
  margin: 0 8px;
}
footer .nav_footer li a {
  text-decoration: none;
  color: white;
}
footer hr {
  border: none;
  background-color: #c4c4c4;
  width: 100%;
  height: 2px;
}
footer .google_apple {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .google_apple a {
  display: inline-block;
}
footer h3 {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding: 0 0 40px 0;
}

.hide-logo {
  width: 205px;
  cursor: pointer;
  height: 59px;
}

.scroll {
  border-radius: 50%;
  background: #4d5057;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 5px;
  bottom: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  color: white;
  display: none;
  z-index: 4;
  transition: 0.4s;
}
.scroll:hover {
  background-color: black;
}
.scroll .scroll_up {
  transition: 0.6s;
}
.scroll:hover .scroll_up {
  transition: 0.6s;
  transform: translateY(-5px);
}

.sign {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.sign .register_btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 14px;
  background-color: #29aae3;
  cursor: pointer;
  color: white;
}
.sign form {
  width: 90%;
}
.sign input[type=text],
.sign input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.sign input[type=text]:focus,
.sign input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.sign button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.sign button:hover {
  opacity: 1;
}
.sign .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.sign .cancelbtn,
.sign .signupbtn {
  float: left;
  width: 50%;
}
.sign .container {
  padding: 16px;
}
.sign .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border: 1px solid #888;
  width: 50%;
}
.sign hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.sign .close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #f1f1f1;
}
.sign .close:hover,
.sign .close:focus {
  color: #f44336;
  cursor: pointer;
}
.sign .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 1000px) {
  .article_one .container {
    overflow: visible;
  }
  .article_one .container .wrapper {
    padding: 20px 0;
  }

  .article_two .container {
    width: 100%;
    overflow: visible;
  }

  .article_tree .container .wrapper {
    padding: 20px 0;
  }

  .hide_forms .modal-content {
    width: 80%;
  }

  iframe {
    height: 400px;
  }

  .wrapper {
    max-width: 900px;
  }

  .main .main__osnova__info {
    text-align: center;
    max-width: 100%;
    color: white;
  }

  .section_opportunities .blocks_opportunities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .header .header_blocks .header_menu .menu {
    display: none;
  }

  .article_tree .container .create_schedule .photo_schedule img {
    display: inline-block;
    margin-left: 0px;
  }

  .header .header_blocks .header_menu .menu_registration {
    display: none;
  }

  .regi {
    display: flex;
  }

  .hide {
    display: block;
  }

  .main .main__osnova__info .btn {
    font-size: 20px;
  }

  .sign .modal-content {
    width: 90%;
  }

  .hide_forms .modal-content {
    width: 90%;
  }
}
@media (max-width: 515px) {
  .section_opportunities .blocks_opportunities {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    gap: 40px;
  }

  .section_opportunities .blocks_opportunities .block_opp {
    margin: 0 auto;
  }

  .main .main__osnova__info .info {
    font-size: 31px;
  }

  .article_one .container h1 {
    font-size: 24px;
  }

  .article_one .container .create_schedule {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .article_one .container .create_schedule .info_schedule {
    order: 1;
    text-align: center;
  }
  .article_one .container .create_schedule .photo_schedule {
    order: 0;
  }

  img {
    margin: 0 auto;
  }

  .article_two .container .create_schedule {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }

  .article_tree .container .create_schedule {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .article_tree .container .create_schedule .info_schedule {
    order: 1;
    text-align: center;
  }
  .article_tree .container .create_schedule .photo_schedule {
    order: 0;
  }

  .video h3 {
    text-align: center;
  }

  iframe {
    height: 200px;
  }

  .photo_schedule img {
    display: block;
    margin: 0 auto;
  }

  .article_two .create_schedule p {
    margin-left: 0px;
    text-align: center;
  }

  .article_two .create_schedule .btn_register {
    margin-left: 26%;
  }

  .hide_forms .close {
    position: absolute;
    right: 18px;
    top: -7px;
    font-size: 50px;
    font-weight: bold;
    color: #f1f1f1;
  }

  .sign .close {
    position: absolute;
    right: 18px;
    top: -7px;
    font-size: 50px;
    font-weight: bold;
    color: #f1f1f1;
  }
}
@media (max-width: 340px) {
  .section_opportunities .blocks_opportunities .block_opp .btn_detailed {
    display: block;
    text-align: center;
  }

  .section_opportunities .blocks_opportunities {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 5px;
  }

  .sign .modal-content {
    width: 90%;
  }

  .hide_forms .modal-content {
    width: 90%;
  }

  .main .main__osnova__info .info {
    font-size: 27px;
  }

  .container .create_schedule p {
    font-size: 18px;
  }

  .article_one .create_schedule p {
    font-size: 18px;
  }

  .article_tree .container .create_schedule p {
    font-size: 18px;
  }

  .article_two .create_schedule .btn_register {
    margin-left: 18%;
  }
}
@media (max-width: 300px) {
  .main .main__osnova__info .info {
    font-size: 23px;
  }

  .article_two .create_schedule .btn_register {
    margin-left: 14%;
  }

  .article_one .container h1 {
    font-size: 20px;
  }

  .article_two h1 {
    font-size: 20px;
  }

  .article_one .container .create_schedule p {
    font-size: 16px;
  }

  .container .create_schedule p {
    font-size: 16px;
  }

  .article_tree .container .create_schedule p {
    font-size: 16px;
  }

  .video h2 {
    font-size: 18px;
  }
}
@media (max-width: 260px) {
  .article_one .container .create_schedule .btn_register {
    font-size: 12px;
  }

  .main .main__osnova__info .info {
    font-size: 18px;
  }

  .main .main__osnova__info .btn {
    font-size: 12px;
  }

  .main .main__osnova__info p {
    font-size: 12px;
  }

  .article_one .container h1 {
    font-size: 18px;
  }

  .article_two h1 {
    font-size: 18px;
  }

  .article_tree .container h1 {
    font-size: 18px;
  }

  .article_one .container .create_schedule p {
    font-size: 12px;
  }

  .article_two .container .create_schedule p {
    font-size: 12px;
  }

  .article_two .create_schedule .btn_register {
    font-size: 12px;
  }

  .article_tree .container .create_schedule .btn_register {
    font-size: 12px;
  }

  .section_opportunities .opportunities {
    font-size: 18px;
  }
}
.slider-top {
  margin-top: 120px;
  margin-bottom: 80px;
}

.slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slider .slider_title {
  text-align: center;
  margin: 20px 0;
}
.slider .slider_osnova {
  position: relative;
  overflow: hidden;
  display: flex;
}
.slider .slider_osnova .btn_slider {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  z-index: 2;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.6;
}
.slider .slider_osnova .btn_slider:hover {
  opacity: 1;
}
.slider .slider_osnova .btn_slider.left-btn {
  left: 1%;
}
.slider .slider_osnova .btn_slider.right-btn {
  right: 1%;
}
.slider .slider_osnova .slide {
  flex-shrink: 0;
  position: relative;
  max-width: 300px;
  left: 0%;
  cursor: pointer;
  transition: 0.4s;
  height: 300px;
  margin-right: 50px;
  z-index: 1;
}
.slider .slider_osnova .slide:hover .hide_slide_text {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.slider .slider_osnova .slide .hide_slide_text {
  position: absolute;
  top: 0;
  padding: 10px;
  bottom: 0;
  overflow: hidden;
  visibility: hidden;
  left: 0;
  opacity: 0;
  right: 0;
  height: 0%;
  width: 100%;
  transition: 0.7s ease;
  background: #29aae3;
  color: white;
  cursor: pointer;
  text-align: center;
}
.slider .slider_osnova .slide .hide_slide_text h1 {
  color: #4d5057;
  margin: 20px 0;
  font-weight: 600;
  font-size: 17px;
}
.slider .slider_osnova .slide .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

img {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .slider {
    max-width: 650px;
    margin: 0 auto;
  }
}
@media (max-width: 696px) {
  .slider {
    max-width: 300px;
    margin: 0 auto;
  }
  .slider img {
    width: 100%;
  }
}
.hide-slider {
  display: none;
}

.open_slider {
  cursor: pointer;
}

.detailed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.detailed .close_detailed {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0px;
  color: white;
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  right: 15px;
}
.detailed .osnova_detailed {
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 30px;
  line-height: 30px;
  width: calc(100% - 20px);
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.detailed .osnova_detailed h1 {
  font-size: 18px;
  text-align: center;
}
.detailed .osnova_detailed .detailed_img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_infomation {
  padding: 120px 0;
  display: none;
}
.section_infomation .posts .info {
  text-align: center;
}
.section_infomation .posts .post {
  padding: 10px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.section_infomation .posts .post .text {
  font-size: 25px;
  font-weight: 600;
  color: black;
}
.section_infomation .posts .post .img_post {
  width: 100%;
}
.section_infomation .posts .post .img_post img {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .section_opportunities {
    transform: translateX(0%);
  }
  .section_opportunities.active {
    transform: translateX(0%);
  }
  .section_opportunities.nonActive {
    transform: translateX(0%);
  }

  .article_one .container .h1_animate {
    transform: translateY(0%);
  }
  .article_one .container .h1_animate.active {
    transform: translateY(0%);
  }
  .article_one .container .h1_animate.nonActive {
    transform: translateY(0%);
  }
  .article_one .container .create_schedule .info_schedule {
    transform: translateX(0vw);
  }
  .article_one .container .create_schedule .info_schedule.active {
    transform: translateX(0vw);
  }
  .article_one .container .create_schedule .info_schedule.nonActive {
    transform: translateX(0vw);
  }
  .article_one .container .create_schedule .photo_schedule {
    transform: translateX(0vw);
  }
  .article_one .container .create_schedule .photo_schedule.active {
    transform: translateX(0vw);
  }
  .article_one .container .create_schedule .photo_schedule.nonActive {
    transform: translateX(0vw);
  }

  .article_two .container .h1_animate {
    transform: translateY(0%);
  }
  .article_two .container .h1_animate.active {
    transform: translateY(0%);
  }
  .article_two .container .h1_animate.nonActive {
    transform: translateY(0%);
  }
  .article_two .container .create_schedule .info_schedule {
    transform: translateX(0vw);
  }
  .article_two .container .create_schedule .info_schedule.active {
    transform: translateX(0vw);
  }
  .article_two .container .create_schedule .info_schedule.nonActive {
    transform: translateX(0vw);
  }
  .article_two .container .create_schedule .photo_schedule {
    transform: translateX(0vw);
  }
  .article_two .container .create_schedule .photo_schedule.active {
    transform: translateX(0vw);
  }
  .article_two .container .create_schedule .photo_schedule.nonActive {
    transform: translateX(0vw);
  }

  .article_tree .container .h1_animate {
    transform: translateY(0%);
  }
  .article_tree .container .h1_animate.active {
    transform: translateY(0%);
  }
  .article_tree .container .h1_animate.nonActive {
    transform: translateY(0%);
  }
  .article_tree .container .create_schedule .info_schedule {
    transform: translateX(0vw);
  }
  .article_tree .container .create_schedule .info_schedule.active {
    transform: translateX(0vw);
  }
  .article_tree .container .create_schedule .info_schedule.nonActive {
    transform: translateX(0vw);
  }
  .article_tree .container .create_schedule .photo_schedule {
    transform: translateX(0vw);
  }
  .article_tree .container .create_schedule .photo_schedule.active {
    transform: translateX(0vw);
  }
  .article_tree .container .create_schedule .photo_schedule.nonActive {
    transform: translateX(0vw);
  }
}
.all_display_none {
  overflow: hidden;
  width: 100%;
}

.menu_registration {
  cursor: pointer;
}/*# sourceMappingURL=sait.css.map */